// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.run {
  width: 60%;
}

.run-body{
  margin-top: 60px;
}

.run-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  height: 50px;
  font-size: 20px;
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  align-items: center;
  margin-bottom: 8px;
  position: fixed;
  right: 40%;
  left: 2%;
  top: 1%;

  .run-actions {
    font-size: 30px;
    i {
      color: gainsboro;
    }

    a:hover {
      background-color: rgba(1, 1, 1, 0.5);
      i {
        color: rgba(1, 1, 1, 0.5);
      }
    }
  }

  > div {
    display: flex;
    flex-direction: column;

    i {
      margin-right: 4px;
    }

    > span:first-of-type {
      font-size: 12px;
      font-weight: normal;
      align-self: flex-start;
      margin-bottom: 4px;
    }
  }
}

.run-actions {
  display: flex;
  flex-direction: column;
  float: right;
  font-size: 20px;
  justify-content: space-around;;
  align-items: flex-end;
  margin: 8px;

  i {
    color: #bf0000;
  }

  a:hover {
    background-color: gainsboro;
    i {
      color: black;
    }
  }
}

.run-table-row {
  margin-bottom: 8px;
  padding: 4px;
  height: 90px;
  border: 2px solid #bf0000;
  border-radius: 3px;
  background-color: gainsboro;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .run-date {
    font-size: 0.9rem;
    color: grey;
  }

  .run-type {
    font-size: 2.0rem;
  }

  .run-column {
    display: flex;
    justify-content: space-around;;
    align-items: flex-start;;
    flex-direction: column;

    i {
      font-size: 16px;
    }

    span:first-of-type {
      color: grey;
    }
  }
}
