// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-wrapper.container-fluid {
  width: 50%;
  margin-top: 15%;
  height: 150px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f0f0f0;

  .login-form {
    width: 100%;

    input[type="submit"] {
      background-color: #bf0000;
    }
  }
}
