<div class="main-sidebar">
  <div class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
      </div>
      <div class="pull-left info">
        <p>
          <%= @current_user.email if @current_user%>
        </p>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">
        HEADER
      </li>
      <li>
          <%= link_to 'My Runs', runs_path %>
      </li>
      <li>
        <%= link_to 'My Gear', shoes_path %>
      </li>
      <li>
        <a href="#">
          <span>Training plans</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Graphs</span>
        </a>
      </li>
    </ul>
  </div>
</div>
